################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/Transacoes
/src/Transacoes/bin/Debug/netcoreapp3.1
/src/Transacoes/obj
